* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system;
    font-weight: 200;
    color: #d6d6d6;
    background-color: #191919;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: justify;
    line-height: 1.5;
}

header .header-wrapper {
    height: 2em;
    display: table;
    overflow: hidden;
}

header .header-title {
    float: left;
    text-align: left;
    font-weight: 100;
    font-size: 1.5em;
    color: #dfbfa5;
    display: table-cell;
    vertical-align: middle;
}

header .header-navigation {
    width: 100%;
    text-align: right;
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
}

header .subtitle {
    font-size: 2em;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 1.0;
}

.blog-items {
    margin-top: 20px;
}

.list-element {
    list-style-type: none;
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 300;
    color: #dfbfa5;
}

h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: 300;
    color: #dfbfa5;
}

footer {
    font-weight: 100;
    font-size: 1em;
}

.blogpost-date {
    margin: 0px;
}

h2.blogpost-title {
    margin: 0px;
}

p {
    margin-bottom: 10px;
}

a {
    font-weight: 300;
    color: #dfbfa5;
}

a.navigation-link {
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
    color: #d6d6d6;
}

a.navigation-link-selected {
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
    color: #dfbfa5;
}

a:link {
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f2f2f2;
        color: #696969;
    }
    
    header .title, h1, h2, a {
        color: #4a311e;
    }
    
    a.navigation-link {
        color: #696969;
    }

    a.navigation-link-selected {
        color: #4a311e;
    }
    
    header .header-title {
        color: #4a311e;
    }
    
    .socialmedia {
        opacity: 1.0;
    }
}
